In [1]:
import numpy as np
import pandas as pd
import re

In [130]:
with open('./data/train/FIN5.txt','r') as d:
    g = d.read().split('\n\n')
    p = pd.DataFrame(g)
    p = p.reset_index(drop=False)
    
    tr = pd.concat([pd.Series(row['index'], row[0].split('\n')) for _, row in p.iterrows()]).reset_index()
    tr.columns = ['var','sentence']

    tr = tr.drop([0]).reset_index(drop=True)
    tr[['word','POS','drop','tag']] = tr['var'].str.split(" ",expand=True,)
    tr = tr[['sentence', 'word','POS','tag']]

In [133]:
with open('./data/test/FIN3.txt','r') as t:
    g = t.read().split('\n\n')
    p = pd.DataFrame(g)
    p = p.reset_index(drop=False)
    
    te = pd.concat([pd.Series(row['index'], row[0].split('\n')) for _, row in p.iterrows()]).reset_index()
    te.columns = ['var','sentence']

    te = te.drop([0]).reset_index(drop=True)
    te[['word','POS','drop','tag']] = te['var'].str.split(" ",expand=True,)
    te = te[['sentence', 'word','POS','tag']]

In [136]:
te.to_csv('./data/test.csv',index=False)

In [137]:
tr.to_csv('./data/train.csv',index=False)

In [141]:
tr.shape

(41015, 4)

In [5]:
train = pd.read_csv('./data/train.csv')

In [9]:
test = pd.read_csv('./data/test.csv')

In [8]:
train['tag'].unique()

array(['O', 'I-ORG', 'I-LOC', 'I-PER', 'I-MISC', nan], dtype=object)

In [10]:
test['tag'].unique()

array(['O', 'I-ORG', 'I-PER', 'I-LOC', 'I-MISC', nan], dtype=object)

In [11]:
train

       sentence       word  POS    tag
0             1       This   DT      O
1             1       LOAN   NN      O
2             1        AND   CC      O
3             1   SECURITY  NNP      O
4             1  AGREEMENT  NNP      O
...         ...        ...  ...    ...
41010      1168          s  NNS      O
41011      1168          /    :      O
41012      1168       Bing  VBG  I-PER
41013      1168         Yu  NNP  I-PER
41014      1169        NaN  NaN    NaN

[41015 rows x 4 columns]